<!DOCTYPE html>
<html>
  <head>
    <title>StarWarsTest</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-light bg-dark">
    <div class="container-fluid">
      <span class="navbar-brand mb-0">
        <h2 class="main_title">Les personnages de Star Wars classés par épisodes</h2>
      </span>
    </div>
    </nav>
    <%= yield %>
  </body>
</html>
